/* resultList.css
.resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resultCard {
  width: 400px;
 
  margin: 6%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resultCard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.resultCard .cardContent {
  padding: 16px;
}

.resultCard h5 {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 8px;
  color: black;
}

.resultCard p {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bolder;
  color: black;
} */

/* resultList.css */
.resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.resultCard {
  width: 450px;
  margin-top: 10rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.resultCard:hover {
  transform: translateY(-5px);
}

.resultCard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.resultCard .cardContent {
  padding: 16px;
}

.resultCard h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.resultCard p {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #333;
}

.resultCard button {
  background-color: #4caf50;
  margin-top: 1.5rem;
  color: white;
  border: none;
  padding: 15px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resultCard button:hover {
  background-color: #45a049;
}

.resultCard a {
  text-decoration: none;
  color: inherit;
}

.bookingFormContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px;
  background-color: #f5f5f5;
}