.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 900px;
    width: 100%;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }
  
  .searchBox {
    width: 500px;
    height: 35%;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
  }
  
  .backgroundText {
    /* position: absolute; */
    /* top: 50%; */
    /* right: 20px; */
    /* transform: translateY(-50%); */
    color: #fff;
    font-size: 40px;
    text-align: right;
  }
  
  .searchBox {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .searchBox > * {
    margin-bottom: 16px;
  }
  
  .searchBox button {
    width: 120px;
    height: 50px;
    margin-left: auto;
  }
  
  

  .backgroundText p{
    color: #fff;
    font-size: 35px;
    text-align: center;
  }